# NumPy Exercises

Now that we've learned about NumPy let's test your knowledge. We'll start off with a few simple tasks, and then you'll be asked some more complicated questions.

#### Import NumPy as np

In [2]:
import numpy as np

#### Create an array of 10 zeros

In [3]:
arr = np.array([0, 0, 0, 0, 0, 0, 0, 0, 0])

#### Create an array of 10 ones

In [5]:
arr = np.array([1, 1, 1, 1, 1, 1, 1, 1, 1])

#### Create an array of 10 fives

In [6]:
np.ones(10) * 5

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

#### Create an array of the integers from 10 to 50

In [12]:
arr = np.array([])
for i in range(11, 51):
    arr = np.append(arr, i)
print(arr)

[11. 12. 13. 14. 15. 16. 17. 18. 19. 20. 21. 22. 23. 24. 25. 26. 27. 28.
 29. 30. 31. 32. 33. 34. 35. 36. 37. 38. 39. 40. 41. 42. 43. 44. 45. 46.
 47. 48. 49. 50.]

#### Create an array of all the even integers from 10 to 50

In [14]:
arr = np.array([])
for i in range(10, 51, 2):
    arr = np.append(arr, i)
print(arr)

[10. 12. 14. 16. 18. 20. 22. 24. 26. 28. 30. 32. 34. 36. 38. 40. 42. 44.
 46. 48. 50.]

#### Create a 3x3 matrix with values ranging from 0 to 8

In [17]:
matrix = []
value = 0
for i in range(3):
    rows = []
    for j in range(3):
        rows.append(value)
        value+=1
    matrix.append(rows)
matrix = np.array(matrix)
print(matrix)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

#### Create a 3x3 identity matrix

In [18]:
matrix = np.identity(3)
print(matrix)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

#### Use NumPy to generate a random number between 0 and 1

In [34]:
np.random.rand(1)

array([0.44924263])

#### Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [38]:
array = np.array([])
for i in range(25):
    array = np.append(array, np.random.normal(0,1))

print(array)

[-1.93767919  0.91354425 -0.41042446  0.50792007 -0.43067952 -0.0089687
 -0.40103907  0.92128265 -0.27573769  0.08133159  0.12385451 -1.60028904
  1.5683793   0.35643793 -0.0615031   0.2442989   0.23549111  0.32472323
  0.21470704  0.24091774 -1.17180205  1.56354878 -1.49905069  0.02063439
 -0.37964793]

#### Create the following matrix:

In [40]:
arr = np.array([])
for i in range(1, 101):
    arr = np.append(arr,i/100)
arr = arr.reshape(10,10)
print(arr)

[[0.01 0.02 0.03 0.04 0.05 0.06 0.07 0.08 0.09 0.1 ]
 [0.11 0.12 0.13 0.14 0.15 0.16 0.17 0.18 0.19 0.2 ]
 [0.21 0.22 0.23 0.24 0.25 0.26 0.27 0.28 0.29 0.3 ]
 [0.31 0.32 0.33 0.34 0.35 0.36 0.37 0.38 0.39 0.4 ]
 [0.41 0.42 0.43 0.44 0.45 0.46 0.47 0.48 0.49 0.5 ]
 [0.51 0.52 0.53 0.54 0.55 0.56 0.57 0.58 0.59 0.6 ]
 [0.61 0.62 0.63 0.64 0.65 0.66 0.67 0.68 0.69 0.7 ]
 [0.71 0.72 0.73 0.74 0.75 0.76 0.77 0.78 0.79 0.8 ]
 [0.81 0.82 0.83 0.84 0.85 0.86 0.87 0.88 0.89 0.9 ]
 [0.91 0.92 0.93 0.94 0.95 0.96 0.97 0.98 0.99 1.  ]]

#### Create an array of 20 linearly spaced points between 0 and 1:

In [43]:
arr = np.linspace(0,1,20)
arr = np.reshape(arr, (4,5))
print(arr)

[[0.         0.05263158 0.10526316 0.15789474 0.21052632]
 [0.26315789 0.31578947 0.36842105 0.42105263 0.47368421]
 [0.52631579 0.57894737 0.63157895 0.68421053 0.73684211]
 [0.78947368 0.84210526 0.89473684 0.94736842 1.        ]]

## Numpy Indexing and Selection

Now you will be given a few matrices, and be asked to replicate the resulting matrix outputs:

In [44]:
arr = np.arange(1,26).reshape(5,5)
print(arr)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

In [47]:
arr = np.arange(12,27)
arr = arr.reshape(3,5)
print(arr)

[[12 13 14 15 16]
 [17 18 19 20 21]
 [22 23 24 25 26]]

In [48]:
print(arr[1][3])

20

In [50]:
arr = np.array([2, 7, 12])
arr = arr.reshape(3,1)
print(arr)

[[ 2]
 [ 7]
 [12]]

In [51]:
arr = np.arange(21,26)
print(arr)

[21 22 23 24 25]

In [52]:
arr = np.arange(16,26).reshape(2,5)
print(arr)

[[16 17 18 19 20]
 [21 22 23 24 25]]

# Great Job!